<launch>

    <!-- Warning: if you set use_wpi_jaco_exec false, you cannot execute a trajectory through moveit --> 
    <arg name="wpi_jaco_launch" default="false" />
    <arg name="use_wpi_jaco_exec" default="false" />
    <arg name="sim" default="false" />
    <arg name="use_octomap" default="false" />


    <group if="$(arg wpi_jaco_launch)">
        <!-- Load the wpi_jaco_wrapper launch file --> 
        <include file="$(find wpi_jaco_wrapper)/launch/arm.launch">
            <arg name="sim" value="$(arg sim)" />
        </include>

        <group if="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)">
            <!-- Load the wpi_jaco_wrapper launch file for the second arm --> 
            <include ns="left_arm" file="$(find wpi_jaco_wrapper)/launch/two_arms.launch">
                <arg name="sim" value="$(arg sim)" />
                <arg name="side" value="left" />
            </include>
        </group>
    </group>

    <!-- Run the main MoveIt executable with trajectory execution -->  
    <include file="$(find hlpr_wpi_jaco_moveit_config)/launch/move_group.launch" unless="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)">
        <arg name="allow_trajectory_execution" value="$(arg use_wpi_jaco_exec)"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="use_octomap" value="$(arg use_octomap)"/>
    </include>

    <include file="$(find hlpr_wpi_jaco_moveit_config_two_arms)/launch/move_group.launch" if="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)">
        <arg name="allow_trajectory_execution" value="$(arg use_wpi_jaco_exec)"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
