<launch>

    <!-- Warning: if you set use_wpi_jaco_exec false, you cannot execute a trajectory through moveit --> 
    <arg name="wpi_jaco_launch" default="false" />
    <arg name="use_wpi_jaco_exec" default="false" />
    <arg name="sim" default="false" />

    <group if="$(arg wpi_jaco_launch)">
        <!-- Load the wpi_jaco_wrapper launch file --> 
        <include file="$(find wpi_jaco_wrapper)/launch/arm.launch">
            <arg name="sim" value="$(arg sim)" />
        </include>
    </group>

    <!-- Run the main MoveIt executable with trajectory execution --> 
    <include file="$(find hlpr_wpi_jaco_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="$(arg use_wpi_jaco_exec)"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

</launch>
